.content__btn {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn {
  cursor: pointer;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
}
